/* Home.css */

/* .home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  p:last-child {
    margin-bottom: 0;
  } */
  /* |||||||||||||||||||||||||||||||||||||||||||||| */
  /* Home.css */

  .home-container {
    max-width: 900px; /* Augmente la largeur du conteneur principal */
    margin: 0 auto;
    padding: 40px; /* Augmente l'espace intérieur du conteneur */
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px; /* Augmente le rayon des bords du conteneur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Augmente l'ombre du conteneur */
  }
  
  h1 {
    font-size: 3rem; /* Augmente la taille du titre */
    margin-bottom: 30px; /* Augmente l'espace en bas du titre */
  }
  
  p {
    font-size: 1.2rem; /* Augmente la taille du texte */
    line-height: 1.8; /* Augmente l'espacement des lignes */
    margin-bottom: 20px; /* Augmente l'espace entre les paragraphes */
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  /* Style pour le conteneur de l'image */
  .image-container {
    margin-top: 40px; /* Augmente l'espace entre le texte et l'image */
  }
  
  .image-container img {
    max-width: 100%;
    border-radius: 10px; /* Augmente le rayon des bords de l'image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Augmente l'ombre de l'image */
  }