/* TaskList.css */
.task-list {
    margin: 20px 0;
  }
  
  .table {
    width: 80%;
    border-collapse: collapse;
    margin-left:10%;
  }
  
  .table th,
  .table td {
    padding: 8px;
    /* text-align: left; */
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }
  
  .no-tasks {
    text-align: center;
    font-style: italic;
    color: #888;
  }
  .titleh2{
    text-align: center;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #f2f2f2;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
