/* TaskList.css */
.task-list {
    margin: 20px 0;
  }
  .conteneur{
    width: 80%;
    margin: 100px; 
  }
  
  .table {
    width: 80%;
    border-collapse: collapse;
    margin-left:10%;
    margin-top: 3%;
  }
  
  .table th,
  .table td {
    padding: 8px;
    /* text-align: left; */
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }
  
  .no-tasks {
    text-align: center;
    font-style: italic;
    color: #888;
  }
  .titleh2{
    text-align: center;
  }
  /* .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #f2f2f2;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  } */
  /* Nouveau style pour la pagination */
.pagination {
  /* display: flex;
  justify-content: center;
  margin-top: 20px; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* background-image: url('chemin/vers/ton/image.jpg'); */
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}
  .headh1{
    margin-top: 3%;
    text-align: center;
  }
  .listtache{
    background-color: #068fcf; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;

  }
  .green{
    color: green;
  }
  .red{
    color: red;
  }
  .blue{
    color: blue;
  }
/*///////////*/
@media screen and (max-width: 600px) {
  .table {
    width: 100%;
    margin: 0;
  }

  .table th,
  .table td {
    padding: 4px;
    font-size: 0.8rem; /* Ajuste la taille de police pour les appareils mobiles */
  }

  .table th {
    font-size: 0.9rem; /* Ajuste la taille de police pour les appareils mobiles */
  }
  .titleh2{
    font-size: 1.3rem;
  }
}